/**********************************/
/*********** CUSTOM CSS ***********/
/**********************************/
.sidebar-widget-padding {
    padding-left: 0px;
}

@media(min-width: 1140px) {

}
@media(min-width: 1080px) {
    .logo > a >.header-logo {
        max-width: 100%;
    }
    .bottom-bar .logo a img.header-logo {
        max-width: 100%;
    }
}
ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}


.caret-down::before {
    transform: rotate(90deg);
}


.nested {
    display: none;
}


.active {
    display: block;
    color: #0a0a0a;
}
.activeBread {
    color: #0a0a0a;
}
tbody > tr > td > button > a {
    color: white;
}
